@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    max-width: 1280px;
    @apply mx-auto px-8 py-4 text-center;
  }

  body {
    @apply font-sans bg-white dark:bg-black text-gray-900 dark:text-white antialiased;
  }

  section {
    @apply transition-all duration-300 ease-in-out;
    scroll-margin-top: 5rem;
  }

  .logo {
    @apply h-24 p-6;
    will-change: filter;
    transition: filter 300ms;
    
    &:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
    
    &.react:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }
}

@layer utilities {
  .card {
    @apply p-8;
  }

  .read-the-docs {
    @apply text-gray-500;
  }

  @keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}